{
	"env": {
		"browser": true,
		"jquery": true
	},
	"globals": {
		"wp": false,
		"jQuery": false,
		"Cookies": false,
		"ga": false,
		"gtag": false
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting"
	]
}
