@charset "utf-8";

@import "compass";

.afb_container {
  padding: 1em;
  color: #888;
  font-size: 12px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  a{
    background: url(../img/smallbutton.png) repeat-x;
    border: none;
    font-size: 11px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 2px 5px;
    text-decoration: none;
    margin-left: 0.5em;
    @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    &:link{
      color: #333;
      text-decoration: none;
    }
    &:hover{
      @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    }

  }
  .status{
    margin-top: 5px;
    font-size: 11px;
    margin-left: 1em;
  }
}

// Posted.
.afb_posted {

  .good, .bad {
    display: none;
  }

}
