/* Error message */
/* line 6, ../sass/admin-style.scss */
.updated ul li,
.error ul li {
  margin: 5px 0 5px 20px;
  list-style: outside disc; }

/* line 13, ../sass/admin-style.scss */
#chart-area .div_2 {
  width: 45%;
  margin-right: 5%;
  float: left;
  min-height: 300px;
  position: relative; }
  /* line 19, ../sass/admin-style.scss */
  #chart-area .div_2:last-child {
    margin-right: 0;
    margin-left: 5%; }
  /* line 23, ../sass/admin-style.scss */
  #chart-area .div_2 .loader {
    display: none; }
  /* line 26, ../sass/admin-style.scss */
  #chart-area .div_2.loading .loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px; }
  /* line 34, ../sass/admin-style.scss */
  #chart-area .div_2 p.no-data {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 20px;
    color: #cf3f35;
    margin-top: -15px; }

/* line 49, ../sass/admin-style.scss */
.afb .widefat .chart-ratio {
  height: 20px;
  width: 100px;
  background: #cf3f35; }
  /* line 53, ../sass/admin-style.scss */
  .afb .widefat .chart-ratio div {
    height: 20px;
    background: #91c690; }
  /* line 57, ../sass/admin-style.scss */
  .afb .widefat .chart-ratio.empty {
    background: #ddd; }
/* line 61, ../sass/admin-style.scss */
.afb .widefat td.column-positive,
.afb .widefat td.column-negative {
  width: 4em;
  text-align: center; }
/* line 66, ../sass/admin-style.scss */
.afb .widefat td.column-ratio {
  width: 100px; }

/*Function reference*/
/* line 72, ../sass/admin-style.scss */
#tabs-4 {
  padding: 30px 0; }
  /* line 74, ../sass/admin-style.scss */
  #tabs-4 dl.code-format {
    background: #444;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 10px; }
    /* line 82, ../sass/admin-style.scss */
    #tabs-4 dl.code-format dt {
      margin-bottom: 5px;
      font-size: 1.2em; }
      /* line 85, ../sass/admin-style.scss */
      #tabs-4 dl.code-format dt .blue {
        color: lightskyblue; }
      /* line 88, ../sass/admin-style.scss */
      #tabs-4 dl.code-format dt .yellow {
        color: lightyellow; }
      /* line 91, ../sass/admin-style.scss */
      #tabs-4 dl.code-format dt .red {
        color: tomato; }
    /* line 95, ../sass/admin-style.scss */
    #tabs-4 dl.code-format dd {
      margin-bottom: 20px; }

/* line 101, ../sass/admin-style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1; }

/* line 107, ../sass/admin-style.scss */
#afb-form textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical; }
/* line 113, ../sass/admin-style.scss */
#afb-form .label {
  padding: 3px 0.5em;
  background: #CC3732;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 1em; }

/* line 123, ../sass/admin-style.scss */
#afb-info {
  background: #f9f9f9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  /* line 127, ../sass/admin-style.scss */
  #afb-info .div_4 {
    width: 50%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em; }
    /* line 132, ../sass/admin-style.scss */
    #afb-info .div_4:nth-child(3) {
      clear: left; }
    /* line 135, ../sass/admin-style.scss */
    #afb-info .div_4 h3, #afb-info .div_4 p, #afb-info .div_4 form {
      margin-left: 30px;
      margin-right: 30px; }
  /* line 141, ../sass/admin-style.scss */
  #afb-info .avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 1em; }
  /* line 148, ../sass/admin-style.scss */
  #afb-info .contact .dashicons {
    font-size: 32px; }
  /* line 151, ../sass/admin-style.scss */
  #afb-info .contact a {
    text-decoration: none;
    margin-right: 1em; }
  /* line 158, ../sass/admin-style.scss */
  #afb-info .contact .dashicons-twitter {
    color: #00ACED; }
  /* line 161, ../sass/admin-style.scss */
  #afb-info .contact a:hover .dashicons-twitter {
    color: #54d0ff; }
  /* line 158, ../sass/admin-style.scss */
  #afb-info .contact .dashicons-facebook {
    color: #3B5998; }
  /* line 161, ../sass/admin-style.scss */
  #afb-info .contact a:hover .dashicons-facebook {
    color: #718dc8; }
  /* line 158, ../sass/admin-style.scss */
  #afb-info .contact .dashicons-googleplus {
    color: #CC3732; }
  /* line 161, ../sass/admin-style.scss */
  #afb-info .contact a:hover .dashicons-googleplus {
    color: #e18683; }
  /* line 158, ../sass/admin-style.scss */
  #afb-info .contact .dashicons-wordpress {
    color: #21759B; }
  /* line 161, ../sass/admin-style.scss */
  #afb-info .contact a:hover .dashicons-wordpress {
    color: #4aacd8; }

@media only screen and (max-width: 468px) {
  /* line 170, ../sass/admin-style.scss */
  #afb-info .div_4 {
    width: auto;
    float: none;
    padding-bottom: 0; } }
